<div *ngIf="!activeUserId" class="">
  <div class="container-fluid">

    <div class="container-fluid form-group" *ngIf="!createNewAccount">
      <h1>Login</h1>
    <input class="form-control" type="email" [(ngModel)]="email" name="email" placeholder="Email Address">
    <input class="form-control" type="password" [(ngModel)]="password" name="password" placeholder="Password">
      <button type="button" (click)="signIn(email, password)" class="btn btn-success">Log In</button>
      <button type="button" (click)="createNewAccount = true" class="btn btn-default">Create Account</button>
    </div>
  </div>
  <div class="container-fluid form-group" *ngIf="createNewAccount">
    <input class="form-control" type="email" [(ngModel)]="email" name="email" placeholder="Email Address">
    <input class="form-control" type="password" [(ngModel)]="password" name="password" placeholder="Password">
    <input class="form-control" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
    <input class="form-control" type="text" [(ngModel)]="firstName" name="firstName" placeholder="First Name">
    <input class="form-control" type="text" [(ngModel)]="lastName" name="lastName" placeholder="Last Name">
    <button type="button" (click)="createNewAccount = false; confirmPassword = ''; firstName = ''; lastName = '';">Cancel</button>
    <button type="button" (click)="createAccount(email, password, firstName, lastName)">Create Account</button>
  </div>
  <button type="button" name="button" (click)="log()">LOGOUT</button>



</div>
<div *ngIf="activeUserId">
  
