<div class="" *ngIf="!selectedQuiz">
  <button *ngFor="let quiz of allUserQuizzes" (click)="selectQuiz(quiz.$key)">{{quiz.$key}}</button>
</div>

<div class="" *ngIf="selectedQuiz">
  <button class="btn btn-success" type="button" name="button" (click)="startQuiz()">Begin!</button>
  <h4>{{currentQuestion.topic}}</h4>
  <h2>{{currentQuestion.question}}</h2>
  <div class="form-group" *ngFor="let answer of currentQuestionAnswers">

    <button class="form-control" (click)="submitAnswer(answer)">{{answer}}</button>

  </div>
</div>